@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");

.opening-page {
  background-image: url("images/heart.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: "Benne", serif;
}

.opening-body {
  background-color: black;
  text-align: center;
}

.header {
  font-family: "Benne", serif;
  padding: 5px;
  background-color: #f8f9fa;
}

.main-page {
  background-image: url("images/mainpage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  filter: grayscale(100%);
  font-family: "Benne", serif;
}

.main-body {
  text-align: right;
  background-color: #f8f9fa;
}

.about-page {
  background-image: url("images/aboutpage.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: "Benne", serif;
}

.about-card {
  background-color: #f8f9fa;
}

.zodiac-page {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: "Benne", serif;
  padding-top: 60px;
}

.stars-gif {
  margin: auto;
  display: block;
  width: 60vw;
}

.journal-page {
  background-image: url("images/4.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: "Benne", serif;
}

.container {
  background-color: #f8f9fa;
  padding: 20px;
  margin-top: 450px;
}

.card-group {
  min-height: 550px !important;
  text-align: center;
  background-color: #f8f9fa;
}
