body {
  background-image: url("images/11.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: 100vh;
  background-size: 100vw;
  font-family: "Benne", serif;
  color: #666;
}
nav {
  width: 100%;
  background: white;
  color: black;
  height: 10vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* footer {
  width: 100%;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  text-align: center;
} */
